html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  position: relative;
}

.form {
  max-width: 380px;
  padding: 15px;
}

.form .form-floating:focus-within {
  z-index: 2;
}

.form input[type="email"] {
  border-bottom-right-radius: 2;
  border-bottom-left-radius: 2;
}

.form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 2;
  border-top-right-radius: 2;
}

.sign-up-anchor {
    margin-top: 10px;
}

.error-box {
   visibility: hidden;
}

.loader {
  margin: auto;
  position: absolute;
  z-index: -1;
  height: 98vh;
  width: 98vw;
}

.loader-center {
  position: absolute;
  top: 50vh;
  right: 45vw;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}